@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url('http://fonts.cdnfonts.com/css/modern-sans');
:root{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: "Varela Round", sans-serif;
  display: grid;
  grid-column: 25vw 50vw auto;
  grid-gap: 0px;
  grid-row: auto;
  align-items: center;
  background-color: #eee9e3;
}
#buttons-container{
  display: flex;
  flex-direction: column;
  background-color: none;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 60%;
  align-self: top;
  justify-content: space-between;
  align-items: center;
}
.btn{
  position: relative;
  background-color: #669ffa;
  -webkit-text-fill-color: #eee9e3;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  font-size: .9vw;
  text-align: center;
  border: solid black;
  outline: solid black;
  -moz-outline-radius: 100%;
  outline-offset: .9vw;
  box-shadow: 0px 0px 0px 0px black;
  
}

#undo:hover p{
  opacity: 1;
}

#undo::before, #undo::after{
  content: "❮";
  font-size: 5vw;
  font-weight: bolder;
  position: absolute;
  background-color: none;
  left: 35%;
  top: 15%;
  transition: transform 500ms;
}
#undo:hover::before{
  transform: translateX(-65%);
}
#undo:hover::after{
  transform: translateX(90%);
}

#undo p{
  margin-top: 45%;
  margin-right: 5%;
  opacity: 0;
  transition: opacity 500ms;
  
}

#clear{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;

}
#clear p{
  display: inline;
  opacity: 0;
  margin: 0;
  transition: opacity 1000ms 100ms;

}
#clear:hover p{
  opacity: 1;
}
#arr{
  position: absolute;
  top: 28%;
  left: 37%;
  height: 0;
  width: 0;
  border-left: calc(45vw/19.2) solid #eee9e3;
  border-top: calc(45vw/19.2) solid transparent;
  border-bottom: calc(45vw/19.2) solid transparent;
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: top 400ms linear, border-left-color 500ms;
}
#clear:hover #arr{
  top: -28%;
  border-left-color: black;
}

#container {
  grid-column: 2;
  width: 55vw;
  height: 46vw;
  display: grid;
  grid-template-columns: repeat(7, calc(55vw / 7));
  grid-template-rows: repeat(7, calc(40vw / 6));
  background-color: inherit;

  justify-content: space-evenly;
  justify-items: center;
}
img {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 8;
  position: relative;
  width: 55vw;
  height: auto;
  border-radius: 0.57vw;
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.col {
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column: var(--startCol);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.circle {
  position: relative;
  align-self: center;
  background-color: var(--innerColor);
  width: 5vw;
  height: 5vw;
  border-radius: 200px;
  z-index: 0;
  grid-column: 1;
  border: var(--borderColor) solid .156vw;
}
.follow {
  grid-row: 1;
  animation: shift 400ms ease;
  -moz-animation: shift 400ms ease;
  -webkit-animation: shift 400ms ease;
  transform: translateX(var(--startCol));
  -moz-transform: translateX(var(--startCol));
  -webkit-transform: translateX(var(--startCol));
}

.drop {
  grid-column: var(--dropCol);
  animation-name: fall;
  animation-duration:700ms;
  animation-timing-function: ease-in;
  
}
.stop{
    position: relative;
    top: var(--topPos);
    z-index: -1;
    grid-row: var(--row);
    grid-column: var(--dropCol);
    position: relative;
    transform: translateY(-.7vw);
    /* animation: grow 300ms ease-out; */
    z-index: 0;
    width: 5.05vw;
    height: 5.05vw;
}
.down{
  box-shadow: 0px 0px 0px .9vw black;
  transition: box-shadow 150ms;
}
.rotate{
  transform: rotate(-360deg);
  box-shadow: 0px 0px 0px .9vw black;
  transition: transform 2000ms ease-out, box-shadow 2000ms ease-out;

}
.rotate-back{
  transform: rotate(0deg);
  box-shadow: 0px 0px 0px 0px black;
  transition:  transform 500ms ease, box-shadow 500ms ease;
}

@keyframes fall {
    0%{
        
        transform: translateY(0vw);
    }
    50%{
        transform: translateY(39.3vw);
    }
    60%{
        transform: translateY(36vw);
    }
    70%{
        transform: translateY(39.3vw);
    }
    80%{
        transform: translateY(37vw);
    }
    100%{
        transform: translateY(39vw);
    }
}
@-webkit-keyframes shift{
  0%{
    -webkit-transform: translateX(var(--startCol));

  }
  100%{
    -webkit-transform: translateX(var(--endCol));

  }
}
@-moz-keyframes shift{
  0%{
    -moz-transform: translateX(var(--startCol));
  }
  100%{
    -moz-transform: translateX(var(--endCol));
  }
}
@keyframes shift {
  0%{
    transform: translateX(var(--startCol));
  }
  100%{
    transform: translateX(var(--endCol))
  }
}


@media screen and (max-width: 1000px) {
  body{
    grid-template-columns: auto;
    grid-template-rows: 76.36vw 10vh;
    grid-gap: 10vh;

    justify-content: center;
  }
  #buttons-container{
    grid-column: 0;
    grid-row: 2;
    height: 10vh;
    flex-direction: row;
    justify-content: space-evenly;
  }
  img{
    width: 90vw;
    height: auto;
  }
  #container{
    grid-column: 1;
    grid-row: 1;
    width: 90vw;
    height: 76.36vw;
    grid-template-columns: repeat(7, calc(90vw / 7));
    grid-template-rows: repeat(7, calc(65.45vw / 6));
  }
  .circle{
    width: 8.9vw;
    height: 8.9vw;
  }
  .stop{
    animation: none;
    z-index: 0;
  }

  .btn{

    width: 20vw;
    height: 20vw;
    font-size: 3.6vw;
    outline: none;
    border: black solid 1.8vw;
  
  }
  #clear p{
    opacity: 1;
  }
  #arr{
    display: none;
  }
  #undo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #undo p{
    margin: 0;
    opacity: 1;
  }
  #undo::before, #undo::after{

    display: none;
  
  }
  @keyframes fall {
    0%{
      
      transform: translateY(0vw);
    }
    50%{
        transform: translateY(63.818vw);
    }
    60%{
        transform: translateY(58.9vw);
    }
    70%{
        transform: translateY(63.818vw);
    }
    80%{
        transform: translateY(60.545vw);
    }
    100%{
        transform: translateY(63.818vw);
    }
  }
  
}
