
body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eee9e3;
}

#container {
  width: 55vw;
  height: calc(13vh + 40vw);
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, calc(40vw / 6));
  background-color: inherit;

  justify-content: space-evenly;
  justify-items: center;
}
img {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 8;
  position: relative;
  width: 55vw;
  height: 40vw;
  border-radius: 0.57vw;
  z-index: 1;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.col {
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column: 1;
  z-index: 2;
  background-color: transparent;
  width: calc(55vw / 7);
  height: 100%;
}
.circle {
  position: relative;
  align-self: center;
  background-color: red;
  width: 5.1vw;
  height: 5.1vw;
  border-radius: 200px;
  z-index: 0;
}
.follow {
  grid-row: 1;
  top: var(--topPos);
  grid-column: var(--col);
}
.drop {
  animation-name: fall;
  animation-duration:700ms;
  animation-timing-function: ease-in;
  
}
.stop{
    /* top: 39.5vw; */
    grid-row: var(--row);
    grid-column: var(--col);
    position: relative;
    transform: translateY(-.7vw);
}
@keyframes fall {
    0%{
        transform: translateY(0vw);
    }
    50%{
        transform: translateY(39.3vw);
    }
    60%{
        transform: translateY(36vw);
    }
    70%{
        transform: translateY(39.3vw);
    }
    80%{
        transform: translateY(37vw);
    }
    100%{
        transform: translateY(39vw);
    }
}